.description {
  background-image: linear-gradient(rgba($main-color, 0.2), rgba($main-color, 0.2)),
    url("../images/rsz_711.jpg");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f9f0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 190px 0px;
  margin: 100px 0px;

  @include customizedMediaQueryWithMaxWidth(1000px) {
    background-image: linear-gradient(rgba($main-color, 0.7), rgba($main-color, 0.7)),
    url("../images/rsz_711.jpg");
  }

  &__title {
    text-align: center;
    padding-bottom: 0.1em;
    font-size: 5rem;

    @include customizedMediaQueryWithMaxWidth(1000px) {
      padding-bottom: 0.7em;
    }

    span {
      font-family: $title-font;
      font-weight: 900;
      color: #fde700;
      font-size: 7rem;

      @include largePhone() {
        line-height: 2rem;
          font-size: 6rem;
      }

    }
  }

  &__container {
     
    @include flexCenterContent();
    max-width: 800px;
    
    margin: auto;

    @include customizedMediaQueryWithMaxWidth(1000px) {
      flex-direction: column;
      max-width: 400px;
      padding: 0px 20px;
      margin: auto;
    }

    &__item {
      text-align: left;
      max-width: 700px;
      margin:20px;

      @include customizedMediaQueryWithMaxWidth(1000px) {
        padding-bottom: 20px;
        margin: 0px;
      }

      h4 {
        font-size: 3rem;
        margin-bottom: 5px;

        @include largePhone() {
          font-size: 2.3rem;
        }
      }
    }
  }
}


.box {
    background:linear-gradient(rgba($main-color, 0.7), rgba($main-color, 0.7));
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

    @include customizedMediaQueryWithMaxWidth(1000px) {
        margin: 0px 100px;
        background: none;
        padding: 0px;
        border-radius: 0px;
        box-shadow: none;
    }
}